body {
  font-family: 'Roboto Mono', monospace;
  color: rgb(89, 67, 67);
  font-size: 0.7rem;
  font-weight: 200;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.itemContainer input {
  margin: 10px 0;
  width: 92.7%;
}

.halfField {
  margin: 0 10px 0 0;
  display: inline-block;
  width: 47%;
}

.halfField input {
  width: 95%;
}

.formContainer {
  margin-top: 10px;
  background-color: rgb(255, 250, 245);
}

.nav h1 {
  font-family: 'Sacramento', cursive;
  color: rgb(89, 67, 67);
  font-size: 2.5rem;
  margin: 0.5rem;
  font-weight: 900;
}

.formContainer button {
  margin-top: 15px;
  background-color: rgb(207, 142, 133);
  color: whitesmoke;
  line-height: 30px;
  z-index: 1000 !important;
}

/* .nav {
  background-color: rgb(240, 216, 216);
  display: flex;
  justify-content: space-between;
} */

.adminContainer {
  display: flex;
  justify-content: center;
}

.adminListContainer {
  width: 55%;
  margin-top: 30px;
}

.allProductsContainer {
  display: flex;
  justify-content: flex-end;
}

.cardContainer {
  margin-right: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 83%;
}

.card {
  margin: 10px;
  flex-basis: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageContainer {
  width: 271;
  height: 407;
}

.inforContainer {
  text-align: center;
}

.inforContainer p {
  margin: 5px;
}

.sidebar {
  display: flex;
  flex-direction: column;

  width: 200px;
}

.sidebar img {
  margin: 10px 0;
}

.cartContainer {
  display: flex;
  justify-content: space-evenly;
}

.itemContainer {
  width: 60%;
  margin: 10px;
}

.itemCardContainer {
  display: flex;
  flex-direction: column;
}

.cardImage {
  margin-right: 10px;
  width: 133px;
  height: 180px;
}

.cartCard {
  margin: 5px 5px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cardItemInfo {
  width: 95%;
  background-color: rgb(255, 250, 245);
}

.cardItemInfo p {
  margin: 3px;
}

.summaryContainer {
  margin: 10px;
  width: 30%;
}

.landing-page {
  align-items: center;
}

.landing-image {
  display: block;
  object-fit: cover;
  width: 96%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.summaryInfo {
  background-color: rgb(255, 250, 245);
}

.singleViewContainer {
  display: flex;
  justify-content: center;
}

/* .productContainer {
  margin-top: 40px;
  width: 70%;
  display: flex;
}

.productContainer img {
  max-width: 40%;
  margin-right: 20px;
} */

.product-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0;
  align-items: flex-start;
}

.product-container .product-image {
  flex: 1;
  overflow: hidden;
  align-self: stretch;
}

.product-image img {
  display: block;
  object-fit: cover;
  align-self: stretch;
  margin-top: 3%;
  margin-left: 20%;
}

.product-container .product-card {
  flex: 1;
  margin-right: 20%;
  align-self: stretch;
  width: 50%;
}

.product-content {
  flex: 1;
  margin: 20px;
  height: 100%;
}

.product-card .product-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  text-align: center;
}

.product-card .product-title h1 {
  letter-spacing: 2px;
}

.product-card p {
  line-height: 1.5;
  margin: 15px 0;
}

.product-card .cart-button {
  background: #333;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.signin-card {
  width: 40%;
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
}
