body {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
  font-weight: 200;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.nav h1 {
  margin-left: 25px;
  font-family: 'Sacramento', cursive;
}

.nav {
  background-color: rgb(240, 216, 216);
  display: flex;
  justify-content: space-between;
}

.adminContainer {
  display: flex;
  justify-content: center;
}

.adminListContainer {
  width: 55%;
  margin-top: 30px;
}

.allProductsContainer {
  display: flex;
  justify-content: flex-end;
}

.cardContainer {
  margin-right: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 83%;
}

.card {
  margin: 10px;
  flex-basis: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageContainer {
  width: 271;
  height: 407;
}

.inforContainer {
  text-align: center;
}

.inforContainer p {
  margin: 5px;
}

.sidebar {
  display: flex;
  flex-direction: column;

  width: 200px;
}

.sidebar img {
  margin: 10px 0;
}
